/***************************
ELEMENT STYLES
***************************/

body {
  color: #0f6;
  background-color: #282828;
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
}

p {
  padding-left: 10px;
}

a, a:visited {
  color: #0f6;
}

a:hover {
  color: #aaa;
}

/***************************
ID STYLES
***************************/

#links-1 {
  list-style: none;
}

/***************************
CLASS STYLES
***************************/

.list-style {
  padding-left: 10px;
}
